{{ form.form_build_id }}
{{ form.form_id }}
{{ form.form_token }}

<div class="container p-0 m-0">

    <div class="row align-items-center text-center">
    {{ form.Batt_Title }}
    <!-- {{ form.Plot }} -->
  </div>
  <div class="row align-items-center">
    {{ form.Cycle_Select }}
    {{ form.Plotly }}
    {{ form.Speed_Info_Container }}
    {{ form.Speed_Container }}
    {{ form.information }}
      <!-- <div class="card mb-1">
        <div class="card-header">
          Vehicle Specifications
        </div>
        <div class="card-body p-2">
            <div class="row align-items-center ">
            <div class="col">
              {{ form.Vehicle_Container.Vehicle_Mass }}
              {{ form.Vehicle_Container.Vehicle_Range }}
              {{ form.Vehicle_Container.Wheel_Radius }}
            </div>
            <div class="col">
              {{ form.Vehicle_Container.Frontal_Area }}
              {{ form.Vehicle_Container.Rolling_Resistance }}
              {{ form.Vehicle_Container.Drag_Coefficient }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-header">
          Powertrain Specifications
        </div>
          <div class="card-body p-2">
            <div class="row align-items-center">
              <div class="col">
                {{ form.Powertrain_Container.Drive_Type}}
              </div>
              <div class="col">
                {{ form.Powertrain_Container.Motor }} 
              </div> 
            </div>
          </div>
          <div class="card-body p-2">
            <div class="row align-items-center p-auto">
              <div class="col">
                {{ form.Powertrain_Container.Powertrain_Efficiency }}
                {{ form.Powertrain_Container.Drag_Coefficient }}
                {{ form.Powertrain_Container.Regen_Capacity }}   
                {{ form.Powertrain_Container.Useable_Capacity }} 
              </div>
              <div class="col">
                {{ form.Powertrain_Container.Ancillary_Energy }} 
                {{ form.Powertrain_Container.Drive_Ratio_Differential }}
                {{ form.Powertrain_Container.Drive_Ratio_Gear }}
              </div>
            </div>
          </div>
      </div>
      <div class="card mb-1">
        <div class="card-header">
          Environment Conditions
        </div>
        <div class="card-body">
          <div class="row align-items-center">
              <div class="col">
                {{ form.Environment_Container.Air_Density }}
              </div>
              <div class="col">
                {{ form.Environment_Container.Road_Slope }}
              </div>
          </div>
        </div>
      </div> -->
  </div>
    {{ form.CalculatePackSize }}
    {{ form.Results }}
      <div class="row align-items-center">
        {{ form.pack }}
          <!-- <div class="col">{{ form.Pack_Energy_Container }}</div>
        <div class="col">{{ form.Voltage_Architecture }}</div>
        </div>
        <div class="row align-items-center">
            {{ form.Cell_Geom_Container }}
        </div>
      <div class="row align-items-center">
        <div class="col">{{ form.Cell_Mass }}</div>
        <div class="col">{{ form.Cell_Capacity }}</div>
        
        <div class="col">{{ form.C_rate }}</div>
        <div class="row align-items-center">
          <div class="col">{{ form.Cell_Voltage_Min }}</div>
          <div class="col">{{ form.Cell_Voltage_Nom }}</div>
          <div class="col">{{ form.Cell_Voltage_Max }}</div>
        </div> -->
      </div>
    {{ form.CalculatePackParameters }}
    {{ form.PackParameters }}
  </div>


